.app-container{
  max-width: 40rem;
  margin: auto;
}

h3 {
  margin-bottom: 0;
}

.border{
  padding: 10px;
}

.duedate{
  width: 25%;
  float: right;
  text-align: right;
  margin: auto;
}

.description{
  margin: auto;
  width: 75%;
  float: left;
  text-align: left;
}

.card-text{
  margin-left: 15px;
}

.input-group{
  padding: 10px;
  padding-bottom: 35px;
}

.input-group-text {
  background-color: white;
}

.card-body {
  padding-bottom: 35px;
}